<div class="grid-container top">
    <div class="grid-25 row">
            <h4>Twitter</h4>
            <div ng-repeat="item in items" class="slide tweet">
                    <img src="{{item.user.profile_image_url}}">
                <div><span class="content">{{item.text}}</span></div>
            </div>
    </div>
    <div class="grid-50 clock-container row">
        <div class="clock" ui-on-drop="onDrop($event,$data, 1)" drop-validate="onDrop(1,$data, 3)" on-drop-success="onDrop($event,$index,2)" >{{now | date : 'HH'}}<span class="separator">:</span>{{now | date : 'mm'}}</div>
    </div>
    <div class="grid-25 row">
            <h4>Reddit</h4>
            <div ng-repeat="item in visir" class="slide tweet">
                <div><span class="content">{{item.title}}</span></div>
            </div>        
    </div>
    <div class="grid-25 row">
            <h4>GitHub</h4>
            <div ng-repeat="item in github" class="slide tweet">
                <img src="{{item.mediathumbnail.url}}">
                <div><span class="content">{{item.title}}</span></div>
            </div>        
    </div>
    <div class="grid-25 row">
            <h4>Bleach report</h4>
            <div ng-repeat="item in bleachreport" class="slide tweet">
                <div><span class="content">{{item.title}}</span></div>
            </div>        
    </div>
    <div class="grid-25 row">
            <h4>The Ringer</h4>
            <div ng-repeat="item in theringer" class="slide tweet">
                <div><span class="content">{{item.title}}</span></div>
            </div>        
    </div>
    <div class="grid-25 row">
            <h4>HackerNews</h4>
            <div ng-repeat="item in hackernews" class="slide tweet">
                <div><span class="content">{{item.title}}</span></div>
            </div>        
    </div>
</div>