<div class="grid-container top">
    <div class="grid-25 row">
            <div ng-repeat="item in cpu track by $index">
                <meter max="100" value="{{item}}"></meter>            
            </div>        
    </div>
    <div class="grid-50 clock-container row">
        <div class="clock">{{now | date : 'HH'}}<span class="separator">:</span>{{now | date : 'mm'}}</div>
    </div>
    <div class="grid-25 row">
        <div>
            <div ng-repeat="item in items" class="slide tweet">
                    <img src="{{item.user.profile_image_url}}">
                <div><span class="content">{{item.text}}</span></div>
            </div>
        </div>
    </div>
    <div class="grid-100 row">
            <div ng-repeat="item in rss" class="slide tweet">
                    <img src="{{item.media.url}}">
                <div><span class="content">{{item.title}}</span></div>
            </div>        
    </div>
</div>