<div class="grid-container top">
    <div class="grid-25">a</div>
    <div class="grid-25">a</div>
    <div class="grid-25">a</div>
    <div class="grid-25">
        <div class="background : green;">
            <div ng-repeat="item in items" class="slide tweet">
                    <img src="{{item.tweet.user.profile_image_url}}">
                <div><span class="user">{{item.tweet.user.screen_name}}</span><span class="content">{{item.tweet.text}}</span></div>
            </div>
        </div>
    </div>
</div>